@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010316;
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #010316;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}



.button-card{
  font-weight: 600;
  height: 32px;
  width: 244px;
}

.button-reservation{
  font-weight: 700;
  width: 342px;
  height: 48px;
}



/* Ocultar barra de desplazamiento */
.scrollbar-hide::-webkit-scrollbar {
  display: none;   
}

.scrollbar-hide {
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}


